body{
    background-color: bisque;
}

h1{
    font-size: 30px;
    font-style:normal;
    background-color: cadetblue;
    color: black;
    border-radius: 200px;
    display: inline-block;
}
#h1-2{
    font-size: 30px;
    font-style:normal;
    background-color: rgb(160, 118, 95);
    color: black;
    border-radius: 200px;
    display: inline-block;
}

p{
    font-size: 18px;
    font-style: italic;
    background-color: rgba(128, 128, 128, 0.879);
    color: black;
    display: inline-block;
}


label{
    color: blue;
}
#label2{
    color:chocolate;
}

#input1{
    width: 120px;
}

#button1{
    background-color: darkkhaki;
}

#button2{
    background-color: firebrick;
}


#input2{
    
}