.button1 {
    background-color: green;
    border-radius: 30px;

}

.button2 {
    background-color: red;
    border-radius: 40px;

}

.button3 {
    background-color:blue;
    border-radius: 50px;
}

.darkMode {
    background-color: black;
    color: white;
}